body {
    font-family: sans-serif;
}

header{
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: wheat;
}

header a{
    text-decoration: none;
    border: 2px solid navy;
    border-radius: 10px;
    background-color: navy;
    color: white;
    padding: 7px;

}

h1{
    text-align: center;
    color: navy;
}

footer p{
    background-color: lime;
    padding: 1%;
}

nav{
    border: 2px solid navy;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

nav a{
    padding: 6px;
    text-decoration: none;
    color: white;
    background-color: navy;
    border: 2px solid navy;
    border-radius: 10px;
    margin: 3%;
}

.special{
    background-color: white;
    color: navy;
}

.products{
    border: 2px solid lightcoral;
    border-radius: 10px;
    padding: 3%;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    color: white;
    text-align: center;
}

h2{
    color: navy;
}

p a{
    text-decoration: none;
    border: 2px solid navy;
    border-radius: 10px;
    padding: 5px;
    color: navy;
}
